//bootstrap
@import "bootstrap/scss/bootstrap";

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;	
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes reveal-up {
	0% {
		opacity: 1;
		@include transform(translateY(100%));
	}
	100% {
		opacity: 1;
		@include transform(translateY(0));
	}
}

@keyframes reveal-down {
	0% {
		opacity: 1;
		@include transform(translateY(-100%));
	}
	100% {
		opacity: 1;
		@include transform(translateY(0));
	}
}

html, body {
	background-color: #fff;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: $font-size-base;
    animation: fade-in 0.8s;
}

.head {
	position: absolute;
	top: 0;
	left: 0;

	.nav {
		background: rgba(255, 255, 255, .95);
		box-shadow: 0 0 4px rgba(0, 0, 0, .25);
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		padding: 10px;

		a {
			color: #111;
			cursor: pointer;
			text-decoration: none;

			&:hover {
				color: #666;
			}
		}

		.nav-brand {
			position: absolute;
			left: 30px;
			display: inline-block;

			img {
				width: 40px;
				height: 40px;
			}
		}

		ul {
			font-family: 'Roboto', sans-serif;
			font-size: 0.85rem;
			font-weight: 400;
			text-transform: uppercase;
			list-style: none;
			line-height: 40px;
			margin: 0;
			padding: 0;
			display: inline-block;
			position: absolute;
			right: 20px;

			li {
				display: inline-block;
				margin: 0 10px;
			}
		}
	}

	.navbar-toggle {
		position: fixed;
		background: #333;
		border: none;
		border-radius: 40px;
		width: 40px;
		height: 40px;
		margin: 15px;
		text-align: center;
		z-index: 1;
	}

	.navbar-toggle:hover {
		background: #111;
	}

	.navbar-toggle:focus {
		background: #333;
	}

	.navbar-toggle .icon-bar {
		background: #f0f0f0;
		border-radius: 0;
		margin-right: auto;
		margin-left: auto;
		width: 20px;
	}
}

.intro {
	min-height: 70vh;

	.row {
		margin: 0;
	}

	.description {
		font-size: 20px;
		font-weight: 200;
		color: #666;

		h1 {
			font-family: 'Roboto', sans-serif;
			font-size: 36px;
			font-weight: 300;
			color: #111;
			animation-name: reveal-down;
			animation-duration: 0.4s;
			animation-delay: 0.4s;
			animation-fill-mode: forwards;
			opacity: 0;
		}

		.tagline {
			animation-name: reveal-up;
			animation-duration: 0.4s;
			animation-delay: 0.4s;
			animation-fill-mode: forwards;
			opacity: 0;

			@include media-breakpoint-up(lg) {
				width: 70%;
			}
		}

		a.worknav {
			color: #666;
			border-bottom: 1px solid #ccc;
			text-decoration: none;
			@include transition(all .1s ease-in-out);

			&:hover {
				color: #111;
				border-bottom: 1px solid #999;
			}
		}

		@include media-breakpoint-up(xs) {
			margin-top: 300px;
		}

		@include media-breakpoint-up(lg) {
			margin: 150px 120px 0;
		}
	}

	@include media-breakpoint-up(xs) {
		background-image: url('../img/flatlay.svg');
		background-attachment: scroll;
		background-position: 50% -8%;
		background-repeat: no-repeat;
		background-size: 260px;
		display: block;
	}

	@include media-breakpoint-up(lg) {
		background-image: url('../img/flatlay.svg');
		background-attachment: scroll;
		background-position: 88% 48%;
		background-repeat: no-repeat;
		background-size: 260px;
		display: block;
	}
}

.work {
	background: #fff;
	position: relative;
	text-align: center;

	.works {
		margin: 24px auto;

		a {
			text-decoration: none;
			outline: 0;
		}

		.project {
			margin-bottom: 24px;
			padding: 0;
			background-color: #fff;
			box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
			border-radius: 0 0 4px 4px;
			text-align: left;
			position: relative;
			@include transition(all ease-in 0.1s);

			.thumbnail {
				border-radius: 4px 4px 0 0;
				width: 100%;
				height: 200px;
				background-size: cover;
				background-position: center;
			}

			.labels {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
				margin-top: 8px;
				opacity: 0;

				.label {
					background-color: rgba(0, 0, 0, 0.48);
					font-family: 'Roboto', sans-serif;
					font-size: 10px;
					font-weight: 400;
					color: #fff;
					border-radius: 4px;
					margin: 4px;
					padding: 4px 8px;
					display: inline-block;
					text-transform: uppercase;
				}
			}

			.description {
				color: #666;
				padding: 16px;
				padding-top: 24px;
				position: relative;

				h4 {
					font-family: 'Roboto', sans-serif;
					font-size: 24px;
					font-weight: 300;
					color: #111;
				}

				.fas {
					position: absolute;
					top: 24px;
					right: 16px;
					color: #aaa;
				}
			}

			&:hover {
				@include transform(translateY(-1%));
				box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);

				.labels {
					opacity: 1;
					animation: fade-in 0.4s;
				}
			}
		}
	}

	.item {
		position: relative;
		padding: 0;

		@include media-breakpoint-down(sm) {
			padding-bottom: 20px;

			&:last-child {
				padding-bottom: 0;
			}
		}

		.preview {
			overflow: hidden;
			position: relative;

			@include media-breakpoint-up(sm) {
				margin: 0 10px;
			}

			.labels {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 10px;
				text-align: center;
				display: none;
				z-index: 1;

				.label {
					font-size: 12px;
					color: #fff;
					border-radius: 10px;
					margin: 12px 8px;
					display: inline-block;
					text-transform: uppercase;
				}
			}

			.caption {
				background-color: rgba(0, 0, 0, .75);
				font-size: 16px;
				color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 10px;
				opacity: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			img {
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				transition: all .2s;
			}

			&:hover {
				.labels {
					display: block;
					animation: fadeInUp .2s;
				}

				.caption {
					opacity: 1;
					animation: fadeIn .2s;
				}

				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.work-intro {
	.header {
		padding-top: 90px;
		padding-bottom: 30px;
	}

	h1 {
		font-family: 'Roboto', sans-serif;
		font-size: 40px;
		font-weight: 300;
		color: #000;
	}

	h2 {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 300;
		color: rgba(0, 0, 0, .48);
	}

	.hero {
		overflow: hidden;
		padding-top: 30px;
		padding-bottom: 120px;

		img {
			max-width: 600px;
			max-height: 360px;
		}
	}
}

.sephora-intro {
	@extend .work-intro;

	.hero {
		background-color: #f06292;
	}
}

.sayabc-intro {
	@extend .work-intro;

	.hero {
		background-color: #b9f6ca;
	}
}

.snapstyle-intro {
	@extend .work-intro;
	
	.hero {
		background-color: #ffe0e6;
	}
}

.accenture-intro {
	@extend .work-intro;

	.hero {
		background-color: #b2dfdb;
	}
}

.investingnote-intro {
	@extend .work-intro;

	.hero {
		background-color: #c8e6c9;
	}
}

.oneservice-intro {
	@extend .work-intro;

	.hero {
		background-color: #b2ebf2;
	}
}

.srina-intro {
	@extend .work-intro;
	background-color: #ccb7b6;
}

.projectshowcase-intro {
	@extend .work-intro;

	.hero {
		background-color: #fff8e1;
	}
}

.play-intro {
	@extend .work-intro;

	.header {
		background-color: #fff;
		padding-top: 120px;
		padding-bottom: 60px;
	}
}

.about-intro {
	@extend .work-intro;

	.header {
		padding-bottom: 0;
	}
}

.hero-image {
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 100%;
}

.work-summary {
	line-height: 1.5;

	.row {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	a {
		color: #999;
		border-bottom: 1px solid #c9c9c9;
		text-decoration: none;
		@include transition(all .1s ease-in-out);

		&:hover {
			color: #b9b9b9;
			border-color: #e9e9e9;
		}
	}

	h2 {
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		font-weight: 300;
		color: #a13355;
		margin-bottom: 15px;
		text-align: center;
	}

	.intro-block {
		margin-top: -120px;
		margin-left: 15px;
		margin-right: 15px;

		.inner {
			background-color: #fff;
			padding: 30px;
			border-radius: 4px;
			box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
		}
	}

	.project-info {
		font-family: 'Roboto', sans-serif;
		font-size: 13px;

		@include media-breakpoint-up(sm) {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		div {
			@include media-breakpoint-down(xs) {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.icon {
			display: inline-block;
			margin-bottom: 15px;
		}

		h3 {
			font-size: 14px;
			text-transform: uppercase;
		}
	}

	.bg-color {
		margin-bottom: -210px;
		display: block;
		height: 360px;
	}

	.card-block {
		margin-top: -120px;
		margin-left: 15px;
		margin-right: 15px;

		.inner {
			background-color: #fff;
			padding: 30px;
			border-radius: 4px;
			box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
		}
	}

	h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: normal;
		color: #333;
		line-height: 2;
		text-align: center;
	}

	h4 {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		color: #333;
		line-height: 2;
		text-align: center;
	}

	blockquote {
		font-size: 1rem;
		color: #999;
		border-left: 1px solid #d5d5d5;
		padding-left: 20px;
	}

	.prototype-link {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: normal;
		background-color: #fff;
		color: #333;
		display: inline-block;
		padding: 10px 20px;
		border: 1px solid #999;
	}
}

.image-block {
	.caption {
		font-size: 12px;
		margin-top: 10px;
		text-align: center;
	}
}

.sephora-summary {
	@extend .work-summary;

	h2 {
		color: #f06292;
	}

	.project-info, .bg-color {
		background-color: #f8bbd0;
	}
}

.sayabc-summary {
	@extend .work-summary;

	h2 {
		color: #44c661;
	}

	.project-info, .bg-color {
		background-color: #e5fcec;
	}
}

.snapstyle-summary {
	@extend .work-summary;

	h2 {
		color: #e7204e;
	}

	.project-info, .bg-color {
		background-color: #ffebee;
	}

	.video-block {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.accenture-summary {
	@extend .work-summary;

	h2 {
		color: #00867d;
	}

	.project-info, .bg-color {
		background-color: #e0f2f1;
	}
}

.investingnote-summary {
	@extend .work-summary;

	h2 {
		color: #19832d;
	}

	.project-info, .bg-color {
		background-color: #e8f5e9;
	}
}

.oneservice-summary {
	@extend .work-summary;

	h2 {
		color: #ed2b88;
	}

	.project-info, .bg-color {
		background-color: #e0f7fa;
	}
}

.srina-summary {
	@extend .work-summary;

	h2 {
		color: #a78266;
	}
}

.owl-carousel {
	.owl-stage {
		display: flex;
		align-items: center;
	}

	button {
		outline: 0;
	}
	
	.owl-prev {
		left: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

	.owl-next {
		right: 0;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

	.owl-prev ion-icon, .owl-next ion-icon {
		background-color: rgba(255, 255, 255, .64);
		font-size: 24px;
		color: #333;
		padding: 8px;
	}

	.owl-dots {
		display: none;
	}
}

.rvrc-gallery, .nus-icg-2016-gallery, .the-ridge-gallery, .branding-gallery, .posters-gallery, .paintings-gallery {
	border-radius: 4px;

	a {
		color: #666;
		outline: 0;
		text-decoration: none;
		border-bottom: 1px solid #ccc;

		&:hover {
			color: #111;
			border-color: #999;
		}
	}

	.fancybox-content {
		text-align: center;
	}

	@include media-breakpoint-up(xs) {
		img {
			max-height: 400px;
		}
	}

	@include media-breakpoint-up(md) {
		img {
			max-width: 700px;
			max-height: 500px;
		}
	}

	.caption {
		font-size: 13px;
	}
}

.bottom-nav {
	margin-top: 60px;

	a {
		color: #999;
		border-bottom: 1px solid #c9c9c9;
		text-decoration: none;
		@include transition(all .1s ease-in-out);

		&:hover {
			color: #b9b9b9;
			border-color: #e9e9e9;
		}
	}

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}
}

.footer {
	margin-top: 60px;

	.fab {
		font-size: $font-size-lg;
		color: #333;
		margin-right: 10px;
		margin-left: 10px;
		@include transition(all .1s ease-in-out);

		&:hover {
			color: #999;
		}
	}

	.copyright {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}