//bootstrap
@import "bootstrap/scss/bootstrap";
@import "font-awesome/scss/font-awesome";

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;	
}

body {
	background-color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: $font-size-sm;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.head {
	position: absolute;
	top: 0;
	left: 0;

	.navbar {
		background: rgba(255, 255, 255, .95);
		box-shadow: 0 0 4px rgba(0, 0, 0, .25);
		@include transition(all ease-in-out .1s);

		a {
			text-decoration: none;
		}

		.navbar-brand {
			float: left;
			display: none;
			z-index: 1;
			
			@include media-breakpoint-up(md) {
				display: block;
			}

			img {
				width: 50px;
				height: 50px;
			}

			h1 {
				font-family: 'Yantramanav', sans-serif;
				font-size: 20px;
				font-weight: 300;
				color: #000;
				text-transform: uppercase;
				line-height: 40px;
				margin: 0;
				padding: 0;
				display: none;
			}
		}

		#navbarNav {
			@include media-breakpoint-up(md) {
				position: absolute;
				top: 0;
				left: 0;
				margin-top: 0.5rem;
				width: 100%;
				height: 60px;
			}
		}

		.navbar-nav {
			margin: 0 auto;
		}
	}

	.navbar.scrolled {
		background: rgba(255, 255, 255, .95);
		box-shadow: 0 0 4px rgba(0, 0, 0, .25);

		.navbar-brand {
			img {
				display: none;
			}
			h1 {
				display: block;
			}
		}

		#navbarNav {
			@include media-breakpoint-up(md) {
				height: 45px;
			}
		}
	}

	.navbar-toggle {
		position: fixed;
		background: #333;
		border: none;
		border-radius: 40px;
		width: 40px;
		height: 40px;
		margin: 15px;
		text-align: center;
		z-index: 1;
	}

	.navbar-toggle:hover {
		background: #111;
	}

	.navbar-toggle:focus {
		background: #333;
	}

	.navbar-toggle .icon-bar {
		background: #f0f0f0;
		border-radius: 0;
		margin-right: auto;
		margin-left: auto;
		width: 20px;
	}
}

.intro {
	background: #e9e9e9;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.description {
		font-size: 22px;
		font-weight: 200;
		color: #666;
		line-height: 1.5;
		max-width: 400px;

		h1 {
			font-family: 'Yantramanav', sans-serif;
			font-size: 40px;
			font-weight: 300;
			color: #111;
		}

		a.worknav {
			color: #666;
			border-bottom: 1px solid #ccc;
			text-decoration: none;
			@include transition(all .1s ease-in-out);

			&:hover {
				color: #111;
				border-bottom: 1px solid #999;
			}
		}

		@include media-breakpoint-up(xs) {
			margin-top: 200px;
		}

		@include media-breakpoint-up(sm) {
			margin-top: 200px;
		}

		@include media-breakpoint-up(md) {
			margin: 150px auto 0;
		}
	}

	@include media-breakpoint-up(xs) {
		background-image: url('../img/laptop.svg'), url('../img/glasses and tea.svg'), url('../img/stationery.svg');
		background-attachment: scroll;
		background-position: 50% -8%, 25% 500px, 75% 400px;
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-size: 45%, 27.5%, 30%;
		display: block;
	}

	@include media-breakpoint-up(sm) {
		background-image: url('../img/laptop.svg'), url('../img/glasses and tea.svg'), url('../img/stationery.svg');
		background-attachment: scroll;
		background-position: 50% -25%, 25% 450px, 75% 350px;
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-size: 40%, 22.5%, 25%;
		display: block;
	}

	@include media-breakpoint-up(md) {
		background-image: url('../img/laptop.svg'), url('../img/glasses and tea.svg'), url('../img/stationery.svg');
		background-attachment: fixed;
		background-position: -16% 50%, 50% 375px, 97.5% 50%;
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-size: 35%, 17.5%, 20%;
		display: block;
	}
}

.work {
	background: #fff;
	position: relative;
	text-align: center;
	padding-top: 20px;

	.row {
		margin: 0;
	}

	.works {
		padding-top: 20px;
		margin: 0 auto;

		@include media-breakpoint-up(lg) {
			margin-right: 120px;
			margin-left: 120px;
		}
	}

	.item {
		position: relative;
		padding: 0;

		@include media-breakpoint-down(sm) {
			padding-bottom: 20px;

			&:last-child {
				padding-bottom: 0;
			}
		}

		.preview {
			overflow: hidden;
			position: relative;

			@include media-breakpoint-up(sm) {
				margin: 0 10px;
			}

			.labels {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 10px;
				text-align: center;
				display: none;
				z-index: 1;

				.label {
					font-size: 12px;
					color: #fff;
					border-radius: 10px;
					margin: 12px 8px;
					display: inline-block;
					text-transform: uppercase;
				}
			}

			.caption {
				background-color: rgba(0, 0, 0, .75);
				font-size: 16px;
				color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 10px;
				opacity: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			img {
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				transition: all .2s;
			}

			&:hover {
				.labels {
					display: block;
					animation: fadeInUp .2s;
				}

				.caption {
					opacity: 1;
					animation: fadeIn .2s;
				}

				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.quote {
	background-image: url(../img/quote_bg.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.quote .tagline {
	font-family: 'Yantramanav', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	line-height: 1.5;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.quote .tagline {
		font-size: 40px;
	}
}

.quote .line {
	border-color: #555;
	margin: 5vmin auto;
}

@media (min-width: 768px) {
	.quote .tagline {
		width: 75%;
	}
}

.servicesandskills {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.servicesandskills .line {
	margin: 5vmin auto;
}

.servicesandskills .row .service img {
	width: 150px;
}

.servicesandskills .row .service .servicelabel {
	font-size: 15px;
	font-weight: normal;
	color: #666;
	margin: 20px 0;
}

.aboutandcontact {
	background: #f0f0f0;
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 100vh;
}

.aboutandcontact .row .withpadding {
	padding-right: 30px;
	padding-left: 30px;
}

.aboutandcontact .row .subtitle {
	font-size: 15px;
	color: #a13355;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.aboutandcontact .row p {
	line-height: 1.75;
}

.aboutandcontact .row .inputfield {
	background: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #d0d0d0;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding-right: 0;
	padding-left: 0;
	resize: none;
}

.aboutandcontact .row .inputfield:focus {
	border-color: #666;
}

.aboutandcontact .row .invalidfield {
	border-color: #a13355;
}

.invalidfield::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #a13355;
	transition: ease-in-out .1s;
}

.invalidfield::-moz-placeholder { /* Firefox 19+ */
	color: #a13355;
	transition: ease-in-out .1s;
}

.invalidfield:-ms-input-placeholder { /* IE 10+ */
	color: #a13355;
	transition: ease-in-out .1s;
}

.invalidfield:-moz-placeholder { /* Firefox 18- */
	color: #a13355;
	transition: ease-in-out .1s;
}

.aboutandcontact .row .validfield {
	border-color: #38a295;
}

.aboutandcontact .row .inputbutton {
	background: transparent;
	font-size: 20px;
	font-weight: 300;
	color: #a13355;
	border: none;
	border-radius: 0;
	margin: 10px 0;
	padding: 0;
	transition: ease-in-out .1s;
}

.aboutandcontact .row .inputbutton:hover {
	color: #333;
}

.work-intro {
	background-color: #e9e9e9;
	padding-top: 120px;
	padding-bottom: 60px;
	text-align: center;

	h1 {
		font-family: 'Yantramanav', sans-serif;
		font-size: 40px;
		font-weight: 300;
		color: #000;
	}

	h2 {
		font-family: 'Yantramanav', sans-serif;
		font-size: 18px;
		font-weight: 300;
		color: rgba(0, 0, 0, .48);
	}
}

.oneservice-intro {
	@extend .work-intro;
	background-color: #8ce0e4;
}

.investingnote-intro {
	@extend .work-intro;
	background-color: #d6e9da;
}

.accenture-intro {
	@extend .work-intro;
	background-color: #80cbc4;
}

.srina-intro {
	@extend .work-intro;
	background-color: #ccb7b6;
}

.projectshowcase-intro {
	@extend .work-intro;
	background-color: #f3ecdf;
}

.about-intro {
	@extend .work-intro;
	background-color: #e9e9e9;
}

.hero-image {
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 100%;
}

.work-summary {
	.row {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	h2 {
		font-family: 'Yantramanav', sans-serif;
		font-size: 25px;
		font-weight: 300;
		color: #a13355;
		margin-bottom: 15px;
		text-align: center;
	}

	.greybg {
		background: #f5f5f5;
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
	}

	h3 {
		font-family: 'Yantramanav', sans-serif;
		font-size: 18px;
		font-weight: normal;
		color: #333;
		margin-top: 0;
		margin-bottom: 15px;
		text-align: center;
	}

	h4 {
		font-family: 'Yantramanav', sans-serif;
		font-size: 16px;
		font-weight: bold;
		color: #333;
		margin: 15px;
		text-align: center;
	}
}

.text-block {
	line-height: 2;

	a {
		color: #999;
		border-bottom: 1px solid #c9c9c9;
		text-decoration: none;
		@include transition(all .1s ease-in-out);

		&:hover {
			color: #b9b9b9;
			border-color: #e9e9e9;
		}
	}
}

.image-block {
	.caption {
		font-size: 12px;
		margin-top: 10px;
		text-align: center;
	}

	@include media-breakpoint-up(md) {
		margin-right: 80px;
		margin-left: 80px;
	}

	@include media-breakpoint-up(lg) {
		margin-right: 120px;
		margin-left: 120px;
	}
}

.accenture-summary {
	@extend .work-summary;

	h2 {
		color: #00867d;
	}
}

.investingnote-summary {
	@extend .work-summary;

	h2 {
		color: #19832d;
	}
}

.oneservice-summary {
	@extend .work-summary;

	h2 {
		color: #ed2b88;
	}
}

.srina-summary {
	@extend .work-summary;

	h2 {
		color: #a78266;
	}
}

.bottom-nav {
	margin-top: 60px;

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}
}

.footer {
	margin-top: 60px;

	.fa {
		font-size: $font-size-lg;
		color: #333;
		margin-right: 10px;
		margin-left: 10px;
		@include transition(all .1s ease-in-out);

		&:hover {
			color: #999;
		}
	}

	.copyright {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}